.nav-pages-button_active {
    position: fixed;
    span {
        opacity: 1;
        top: 24px;
        transform: rotate(50deg);
        transition: .55s .5s;
        &::before {
            opacity: 0;
        }
        &::after {
            top: 0;
            transform: rotate(-280deg);
            transition: .55s .5s;
        }
    }
}