.aside-menu {
    display: flex;
    position: relative;
    padding: 0 0 0 50px;
    &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        left: 0;
        background: #E9E8E8;
    }
    @media screen and (max-width: 768px) {
        padding: 0;
        margin: 20px 0 0 0;
        &::before {
            width: 0;
            height: 0;
            background: none;
        }
    }
}