.section-descriptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 50px 0;
    padding: 0 0 65px 0;
    position: relative;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        height: 1px;
        background: #E9E8E8;
        bottom: 0;
        width: 100%;
    }
}